@page "/admin/edit-method/{Id}"
@inject MethodApiService MethodApiService
@inject NavigationManager NavigationManager
@inject ILogger<EditMethod> Logger
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin")]

@if (isLoading)
{
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}
else if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <h3>@errorMessage</h3>
}
else
{
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-11 col-md-8">
                <div class="card p-4">
                    <EditForm Model="method" OnValidSubmit="HandleValidSubmit" FormName="editMethodForm" class="form-control">
                        <h3 class="text-center my-4">Edit method @method.Name</h3>
                        <div class="form-floating mb-3">
                            <InputText class="form-control" type="text" @bind-Value="method.Name" placeholder="Name" id="name" />
                            <label for="name">Name: </label>
                        </div>
                        <ImageUpload OnImageUploaded="HandleImageUploaded" />
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="input-group mb-3 justify-content-center">
                            <button class="btn green-btn" type="submit">Save</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}
@code {
    [Parameter]
    public string Id { get; set; } = string.Empty;

    private Method method { get; set; } = new();
    private bool isLoading = true;
    private string errorMessage = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (string.IsNullOrWhiteSpace(Id))
            {
                errorMessage = "Error loading method. Id is null.";
                isLoading = false;
                Logger.LogError(errorMessage);
                return;
            }

            try
            {
                method = await MethodApiService.GetMethodByIdAsync(Id);
            }
            catch (Exception ex)
            {
                errorMessage = $"An error occurred while loading the method with Id {Id}.";
                Logger.LogError(ex, errorMessage);
            }
            finally
            {
                isLoading = false;
            }

            if (method is null)
            {
                errorMessage = $"Method with Id {Id} was not found.";
                Logger.LogError(errorMessage);
            }
            StateHasChanged();
        }
    }

    private Task HandleImageUploaded(string imageUrl)
    {
        method.PictureUrl = imageUrl;
        return Task.CompletedTask;
    }

    private async Task HandleValidSubmit()
    {
        Logger.LogInformation($"Updating method {method.Name}");

        try
        {
            await MethodApiService.UpdateMethodAsync(Id, method);
            NavigationManager.NavigateTo("/admin/methods");
        }
        catch(Exception ex)
        {
            errorMessage = $"An error occurred while updating the method with Id {Id}. Please try again later.";
            Logger.LogError(ex, $"\n{errorMessage}");
        }
    }
}
