
<div class="nav-wrapper">
    <div class="nav-menu mb-0">
        <NavLink class="nav-link" href="/admin"> <i class="fas fa-home"></i> </NavLink>
        <NavLink class="nav-link" href="/admin/categories">Categories</NavLink>
        <NavLink class="nav-link" href="/admin/cuisines">Cuisines</NavLink>
        <NavLink class="nav-link" href="/admin/diets">Diets</NavLink>
        <NavLink class="nav-link" href="/admin/methods">Methods</NavLink>
        <NavLink class="nav-link" href="/admin/recipes">Recipes</NavLink>
        <NavLink class="nav-link" href="/admin/log-out">Log out</NavLink>

    
    </div>
</div>
