<div class="nav-wrapper">
    <div class="nav-menu mb-0">
        <NavLink class="nav-link" href="/"> <i class="fas fa-home"></i> </NavLink>
        <NavLink class="nav-link" href="/search-by-ingredients">Search by ingredients </NavLink>
        <NavLink class="nav-link" href="/search-recipes">Search recipes</NavLink>
        <NavLink class="nav-link" href="/generate-recipe">Generate recipes</NavLink>
        <NavLink class="nav-link" href="/all-recipes">All recipes</NavLink>
    </div>
</div>